body{
    background-color: lightgreen;
} h1{
    text-align: center;
}
.textsection{
    text-align: center;
    margin: 50px auto;
    padding: 30px 30px;
    max-width: 450px;
    margin-bottom: 25px;
    background-color: white;

}
.text{
    display: block;
    margin-bottom: 10px;
}

button{
    display: block;
    width:100%;
    padding: 10px 10px;
    background-color: lightgreen;

}

.block{
    display:block;
    margin-left: -20px;
}
